.title {
    text-align: center;
}

.error-message {
  background: #ff9b9b;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.mew-form, .loading {
    width: 50%;
    margin: 0 auto;
}

.loading {
    text-align: center;
}

.meows {
    width: 80%;
    margin: 0 auto;
}