<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet</title>
</head>
<body>
    <article>
        <img src="http://www.gravatar.com/avatar" alt="Name">
        <div>
            <span>@handle</span>
            <span>Name</span>
            <span>3h ago</span>
        </div>
        <p>Some interesting tweet body</p>
        <ul>
            <li><button>Reply</button></li>
            <li><button>Retweet</button></li>
            <li><button>Like</button></li>
            <li><button>...</button></li>
        </ul>
    </article>
    
</body>