* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #c5c3c6, #46494c, #4c5c68, #1985a1);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #1985a1;
    background: white;
    cursor: pointer;
    transition: all 0.3seg ease;
}

form button:hover {
    color: white;
    background: #1985a1;
}