* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #c5c3c6, #46494c, #4c5c68, #1985a1);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #1985a1;
    background: white;
    cursor: pointer;
    transition: all 0.3seg ease;
}

form button:hover {
    color: white;
    background: #1985a1;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
   list-style: none; 
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.todo-item {
    padding: 0rem 0.5rem;
}


.complete-btn, .delete-btn{
    background: #1985a1;
    color: white;
    border: none;
    padding: 1rem;
    margin: 1px;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #199F60;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

.todo-item-completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.todo-item-deleted {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}